.container {
  h2 {
    color: var(--gray7);
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  input {
    width: 100%;
    padding: 1rem;
    height: 3.375rem;
    border-radius: 0.375rem;
    color: var(--gray5);

    border: 0;
    background: var(--gray1);

    font-weight: 400;
    font-size: 1rem;

    &::placeholder {
      color: var(--gray5);
    }

    & + input {
      margin-top: 1rem;
    }
  }

  button[type='submit'] {
    width: 100%;
  }
}

.transaction-type-container {
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;

  .deposit-active {
    background-color: var(--green-dark);
    color: var(--white);

    &:hover {
      background-color: var(--green-dark);
      color: var(--white);
    }
  }

  .withdraw-active {
    background-color: var(--red-dark);
    color: var(--white);

    &:hover {
      background-color: var(--red-dark);
      color: var(--white);
    }
  }

  button {
    font-size: 1rem;

    height: 3.625rem;
    background: var(--gray3);
    border: 0;
    color: var(--gray6);
    border-radius: 0.375rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    transition: background-color 0.2s;

    &:hover {
      background-color: var(--gray4);
    }
  }
}
