:root {
  --green-dark: #015f43;
  --green: #00875f;
  --green-light: #00b37e;
  --red-dark: #aa2834;
  --red: #f75a68;
  --gray1: #121214;
  --gray2: #202024;
  --gray3: #29292e;
  --gray4: #323238;
  --gray5: #7c7c8a;
  --gray6: #c4c4cc;
  --gray7: #e1e1e6;
  --white: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
}

html {
  font-size: 16px;
  color: var(--gray6);

  @media (max-width: 1080px) {
    font-size: 93.75%; /* 15px */
  }
  @media (max-width: 720px) {
    font-size: 87.5%; /* 14px */
  }
}

body {
  line-height: 1;
  background-color: var(--gray2);
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

/* Stop long words causing overflow */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
}

[disabled] {
  cursor: not-allowed;
}
